{% extends 'base.html' %}
{% block content %}
  <a href="{% url 'profile' %}">Back to Profile</a>
  <table>
    <tr>
      <td>
        Book
      </td>
      <td>
        {{ review.book.title }} by {{ review.book.author }}
      </td>
    </tr>
    <tr>
      <td>
        Review By
      </td>
      <td>
        {{ review.review_author.username }}
      </td>
    </tr>
    <tr>
      <td>
        Rating
      </td>
      <td>
        {{ review.rating }}
      </td>
    </tr>
    <tr>
      <td>
        Review
      </td>
      <td>
        {{ review.text }}
      </td>
    </tr>
{% endblock %}
